<h1>User Card</h1>

<div class="card text-center card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
        {{#if user.email}}
        <h5 class="card-title">{{user.email}}</h5>
        {{else}}
        <h5 class="card-title">User sin email</h5>
        {{/if}}

        {{#if user.photo}}
        <img width="50%" src={{user.photo}} alt="">
        {{else}}
        <p>User sin foto</p>
        {{/if}}

        {{#if user.password}}
        <p class="card-text">{{user.password}}</p>
        {{else}}
        <p>User sin password</p>
        {{/if}}
    </div>
</div>

